:root {
  font-size: 125%; 
  /* 20px */
}

a{ text-decoration: none;}
a :hover{
  background: #cc4242;

}

body {
  margin:0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Ruluko'; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;

  background: #FFFFFF;
  
  
  

  
}



.logo {
  background-image: url(../arquivos/logo.png);
  background-position: center;
  background-size: 24rem 18rem;
  padding: 2rem 0 6rem;
  background-repeat: no-repeat;

  /* left:50%;
  align-self: center;
  justify-self: center; */
  /* border: greenyellow 2px solid; */
}


.imagens-logo{
  display:flex;


}

.img-logo{
  position: relative;

  top: -13rem;
  background-image: url(../arquivos/foto-2.jpg);
  background-position:initial;
  background-size: 100% auto;
  padding: 50%  0;
  width: 49%;
  background-repeat: no-repeat;
  z-index: -1;

  /* border: red solid 4px; */
}

.img-logo2{
  position: relative;

  top: -11rem;
  /* left:42%; */
  background-image: url(../arquivos/foto-1.jpg);
  background-position:initial;
  background-size: 120% auto;
  padding: 50%  0;
  width: 51%;
  min-width: 50%;
  height: auto;
  background-repeat: no-repeat;
  z-index: -2;
  /* border: green solid 4px; */
}

.navegacao{

  position: absolute;
  width: 100%;
  height: 4.1rem;

  top: 8rem;
  
  background: #013567;
  border-radius: 3px;
  display:flex;

  justify-content:space-evenly;
  align-items: center;
}

.botao{

width: 15%;
height: 2.5rem;
cursor: pointer;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.57);

/* background: #800000; */
background-color: #a00707;
border-radius: 3px;



/* texto*/


font-family: sans-serif;
font-size:1rem ;
font-weight: 1000;
/* font-size: 1.1rem ; */
display: flex;
align-items: center;
justify-content: center;
text-align: center;
color: #FFFFFF;



}


.botao:hover{
  background: #cf2525;
}







.main_div{

  position: absolute;
  /* width:  */
  width:100%;
  height:33rem;
  height:36rem;
  top: 13rem;
  
  background: #013567;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  padding-top:2%;
  
  }







.postCardapioEntregas{
  color:#fff;
  width: 45%;
  height:100%;
  position: relative;
  justify-content: space-around;
  align-items: center;
  left:1rem;
  /* border:green solid 3px; */
  display: flex;
  flex-direction: column;
  /* grid-row-gap: 0.2rem;
  grid-template-columns: 50% 50% ;
  grid-template-rows: 50% 50%  ; */
  /* justify-content: space-between; */


  }

  .titulo_cardapio{
    color:#fff;
    margin-top: 1rem;
font-weight: 1000;
font-family: sans-serif;
font-size:1.2rem ;
height:8%;
width: 20%;
margin-top: 0.2rem;
text-align:  center;
/* border:orange solid 2px; */
position: relative;
 top:-4%;
}


.cont_post_cardapio{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width:60%;
  position: relative;
  top:1%;
  /* border:red solid 2px; */
}

.cont_cardapio{
overflow-y:scroll;
overflow-x:hidden;
border-radius: 6px;
/* border:red solid 12px; */
/* position: absolute; */
/* top: 0;
bottom: 0;
left: 0;
right: 0; */
/* margin: auto 0; */

/* left: 50%; */
}


.previaCardapio{
  /* float: left; */
  
  /* border: greenyellow solid 2px; */
  margin-top: 1rem;
  background-color: #bfd1e2;
  border-radius: 6px;
  text-align: center;
  /* height:1000px; */
  height: 200%;
  width:110%;

  /* padding:10rem 12rem; */
  /* background-attachment:local; */
}



.troca_pag {
  font-weight: 650;
  font-size: 1rem;
  color:white;
  position: relative;
  top:3%;
}


.troca_pag button{
  border-radius: 3px;
  font-weight: 600;
  
font-size:0.8rem ;
  color:#fff;
  background: #a12101;
  
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.57);
}



.troca_pag button:hover{
transform: scale(0.97);
background: #cf2525;
cursor: pointer;
}













