:root {
  font-size: 125%;
  /* 20px */
}

a {
  text-decoration: none;
}
a :hover {
  background: #cc4242;
}

body {
  /* margin: 0; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Ruluko'; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;

  background: #ffffff;

}

.div_Inicio {
  height: auto;
  /* display: grid;
  grid-template-rows: 20% 70% 10%;
  grid-template-columns: 100%; */
  width:100%;
  display: flex;
  flex-direction: column;
  float: inline-start;
}



.div_topo {
  display: flex;
  flex-direction: column;
  /* float: left; */
  /* border: magenta 4px solid; */
  /* z-index: 15; */

  min-height: 13rem;
  overflow: hidden;
}

.logo {
  background-image: url(../arquivos/logo.png);
  background-position: center;
  background-size: 24rem 18rem;
  padding: 2rem 0 6rem;
  background-repeat: no-repeat;

  /* left:50%;
  align-self: center;
  justify-self: center; */
  /* border: greenyellow 2px solid; */
}


.cabecalho {
  display: block;
  max-height: 8rem;
}


.imagens-logo {
  display: flex;
}

.img-logo {
  position: relative;

  top: -13rem;
  background-image: url(../arquivos/foto-2.jpg);
  background-position: initial;
  background-size: 100% auto;
  padding: 50% 0;
  width: 49%;
  background-repeat: no-repeat;
  z-index: -1;

  /* border: red solid 4px; */
}

.img-logo2 {
  position: relative;

  top: -11rem;
  /* left:42%; */
  background-image: url(../arquivos/foto-1.jpg);
  background-position: initial;
  background-size: 120% auto;
  padding: 50% 0;
  width: 51%;
  min-width: 50%;
  height: auto;
  background-repeat: no-repeat;
  z-index: -2;
  /* border: green solid 4px; */
}

.img-logo3 {
  position: relative;

  top: -26rem;
  /* top  :-120%; */
  left: 0rem;
  /* background-image: url(./arquivos/foto-1.jpg); */
  background-position: initial;
  background-size: auto 120%;
  padding: 30% 30%;
  width: 120%;
  min-width: 50%;
  /* min-height: 25%; */
  height: 0;
  background-repeat: repeat;
  z-index: -2;
  /* border: green solid 4px;  */
}

.navegacao {
  /* position: absolute; */
  width: 100%;
  height: 4.1rem;

  top: 8rem;

  background: #013567;
  border-radius: 3px;
  display: flex;

  justify-content: space-evenly;
  align-items: center;
}

.botao {
  width: 15%;
  height: 2.5rem;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.57);

  /* background: #800000; */
  background-color: #a00707;
  border-radius: 3px;

  /* texto*/

  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 1000;
  /* font-size: 1.1rem ; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}

.botao:hover {
  background: #cf2525;
}

.main_div_pedido {

  /* padding : 1rem 1rem; */
  display: block;
/* border: pink solid 10px; */
  width: 100%;
  max-width: 100%;

  height: auto;

  background: #2566a3;
  /* background:#873232; */
  /* background:#c27474b6; */

  display: flex;
  justify-content: space-around;
  align-items: center;

  /* border: yellow 4px solid; */
}

.troca_pag {
  margin-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-weight: 650;
  font-size: 1rem;
  color: white;
  position: relative;
  top: 3%;
  margin-bottom: 0.8rem;
}

.troca_pag button {
  border-radius: 3px;
  font-weight: 600;

  font-size: 0.8rem;
  color: #fff;
  background: #a12101;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.57);
}

.troca_pag button:hover {
  transform: scale(0.97);
  background: #cf2525;
  cursor: pointer;
}


.titulo_comida_pedido{
  width: 15%;
  height: 2.5rem;
  cursor: pointer;


  background-color: #a00707;
  /* background-color: #fff; */
  /* background:#873232; */
  border-radius: 3px;

  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 550;
  /* font-size: 1.1rem ; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 4px 4px 8px rgba(26, 26, 26, 0.57);

}

.mais_comida_pedido{
  /* border: green solid 2px;   */
  background-color: #a00707;
  /* background-color: #ec9898; */
  background:#9b1515;
  border-radius: 6px;
  /* COR BOA COM AZUL CLARO */
  
  /* background:#a81b1b; */
  width: 5%;
  padding: 0px 10px;
  height: 30%;
}


.titulo_categoria_pedido{
font-size: 1.1rem;
font-weight: 800;
justify-self: center;
/* box-shadow: 1px 1px 40px rgba(243, 216, 142, 0.57); */
/* background-color: #fff6d6c2;  */
padding: 0.1rem 0.4rem;
/* border-radius: 40rem; */
}
.categoria_comida_pedido{

border: rgb(247, 250, 217) solid 5px;
border-radius: 0.8em;
padding:1rem 1rem;
color: #fff;
display: grid;

grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* This is better for small screens, once min() is better supported */
  /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
  grid-gap: 1rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.57);
}


.titulo_comida_pedido{
  /* border: green solid 2px;   */
  background-color: #a00707;
  /* background-color: #ec9898; */
  background:#9b1515;
  /* COR BOA COM AZUL CLARO */
  /* background:#a81b1b; */
  width: 70%;
  padding: 0px 10px;
}



.comida_pedido{
  /* border: red solid 2px; */
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.div_footer {
  display: block;
  background: #800000;
  width: 100%;
  height: auto;
  /* max-height: 10rem; */
  /* position: relative; */

  text-align: center;
  color: white;
  float: right;
}

.botoes_footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 2rem;
  font-size: 0.6rem;

}

.botao_footer {
  width: 15%;
  height: 2.5rem;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.57);
  margin-left: 6rem;
  margin-right: 6rem;
  /* background: #800000; */
  background-color: #a00707;
  border-radius: 3px;

  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: 1000;
  /* font-size: 1.1rem ; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: #ffffff;
}

.botao_footer:hover {
  background: #cf2525;
}


.carta_pedido {
  display: grid;
  grid-template-rows: 90%;
  grid-template-columns:30% 60% ;
  justify-content: space-around;
}

.categorias_pedido{
background: #74a8da;
background-size: 8% 6%;
}


@media screen and (max-width: 900px) {
  
  .cont_cardapio {
    height: 25rem;
    width: 90%;
  }
} 


@media screen and (max-width: 600px) {
  .previaCardapio2 {
    
    width: 115%;
    height: 150%;
    position: relative;
    right:-1rem;

  }
}