.rodape{
    width: 100vw;
    height:4rem;
    /* height: 15vh; */
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    border: green 2px solid;
}